<div class="container mt-4">
  <h1 class="text-center">My profile</h1>
  <h2>My teachers</h2>
  <%= render "/teachers/cards_teachers" %>

  <h2>My appointments</h2>



<div class="container">
  <div class="row mt-5">

    <% @appointments.each do |appointment| %>
      <div class="col-lg-4 col-sm-12 mt-4">
        <div class="card-product d-flex">
            <div class="card-product-picture">
              <%=link_to teacher_appointment_path(appointment), class: "text-decoration-none" do %>
              <%end%>
            </div>
            <div class="card-product-infos d-flex m-3">
              <div class="p-2">
                <p><%= teacher.name %></p>
                <p><%= teacher.location %></p>
                <p><%= teacher.price.to_i %> €</p>
                <p><%= appointment.date %></p>
              </div>
              <div class="card-product-buttons ml-auto p-4">
                <%= link_to edit_teacher_appointment_path(appointment) do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                <%end%>
              </div>
            </div>
        </div>
    <% end %>
  </div>

</div>
