  <% @teachers.each do |teacher| %>
    <div class="card-product">
      <%= link_to teacher_path(teacher) do %>
        <%= image_tag (teacher.photo.attached? ? cl_image_path(teacher.photo.key) : asset_path("jim.jpg")), class: "avatar-bordered"%>
      <% end %>
      <div class="card-product-infos">
        <div class="card-product-infos-primary">
          <h2><%= teacher.name %></h2>
          <h3><%= teacher.appointments.length %> appoints.</h3>
          <p>Mac : <%= teacher.user.username %></p>
        </div>
        <div class="card-product-infos-secondary">
          <p><%= teacher.location %></p>
          <p>
            <% teacher.languages.each do |language| %>
              <%= language.name %>
            <% end %>
          </p>
          <p><%= teacher.price.to_i %> €</p>
        </div>
      </div>
      <% if teacher.user == current_user  %>
        <div class="card-buttons">
          <%= link_to edit_teacher_path(teacher) do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to teacher_path(teacher), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
