<div text-justify-center>
    <% if @teacher.photo.attached?  %>
      <p><%= cl_image_tag @teacher.photo.key, height: 300, width: 400, crop: :fill %> </p>
    <% end %>
    <h1> <%= @teacher.name %></h1>
    <p> <%= @teacher.location %></p>
    <p> <%= @teacher.language%></p>
    <p> <%= @teacher.availability %><p>
    <p> <%= @teacher.price %><p>
    <%= link_to 'Back to home', root_path, class:"btn btn-warning" %>
    <%= link_to 'Book this TA', root_path, class:"btn btn-success" %>
</div>
