
<div class="photo">
   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="img-thumbnail" alt="">
</div>
<div class="details-show">
  <h1> <%= @teacher.name.capitalize %></h1>
  <p> <%= @teacher.location.capitalize %></p>
  <p> <%= @teacher.language.capitalize%></p>
  <p> <%= @teacher.availability.capitalize %><p>
  <p> <%= @teacher.price.to_i%> €<p>
  <%= link_to 'Back to home', root_path, class:"button-white"%>
  <%= link_to 'Book this TA', root_path, class:"button-green"%>
</div>
