<div class="show-container">
  <div class="d-flex justify-content-center">
    <div class="photo">
      <%= image_tag (@teacher.photo.attached? ? cl_image_path(@teacher.photo.key) : asset_path("jim.jpg")), class: "img-thumbnail"%>
    </div>
  </div>

  <div class="details-show d-flex justify-content-between">
    <div class="details-show-left">
      <h1 class="mb-4"><%= @teacher.name.capitalize %></h1>
      <p><i class='fas fa-search-location'></i> <%= @teacher.location.capitalize %></p>
      <p><i class='fa fa-language'></i>
        <% @languages.each do |language| %>
          <%= language.name %>
        <% end %>
      </p>
      <%= link_to 'Back to home', root_path, class:"button-white mt-4 d-inline-block" %>
    </div>
    <div class="details-show-right">
      <h1><i class="fa-solid fa-credit-card"></i> <%= @teacher.price.to_i %>€</h1>
      <p><i class='fa fa-star' style='color: black'> 4.99</i></p>
      <%= simple_form_for([@teacher, @appointment]) do |f| %>
        <%= f.input :date, as: :date, label: false %>
        <%= f.button :submit, "Book a TA", class: "button-green mt-2" %>
      <% end %>
    </div>

  </div>
</div>
